<template>
  <transition name="fade">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div v-on-clickaway="hide" class="modal-container">
          <button class="modal-default-button" @click.prevent="$emit('close')"></button>
          <slot></slot>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "resesa",
  methods: {
    hide() {
      this.$emit('close');
    }
  }
};
</script>

<style lang="scss" scoped="">
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0px auto;
  padding: 20px 15px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  position: fixed;
  right: 10px;
  top: 5px;
  background: url("/src/svg/close.svg") center no-repeat;
  width: 40px;
  height: 40px;
  outline: none;
  cursor: pointer;
}

@media (min-width: 1000px) {
  .modal-wrapper {
    padding: 20px;
  }

  .modal-container {
    position: relative;
  }

  .modal-default-button {
    position: absolute;
    right: 23px;
    top: 17px;
  }
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
</style>