<template>
  <div class="section__wrapper">
    <div class="section__carousel">
      <carousel>
        <div class="carousel-slide carousel-slide--disable">
          <ul class="slide-list slide-list--bg-cube shadow">
            <li>
              <p class="slide-list__title">Цифровые решения</p>
            </li>

            <li>Интернет-магазины</li>
            <li>Промо-страницы</li>
            <li>Продающие сайты</li>
            <li>Лендинги</li>
          </ul>
          <img class="carousel-slide__icon" src="/src/svg/triangle.svg" alt="icon" />
        </div>

        <div class="carousel-slide carousel-slide--disable">
          <ul class="slide-list slide-list--bg-vawes shadow">
            <li>
              <p class="slide-list__title">
                Интернет -
                маркетинг
              </p>
            </li>
            <li>SEO</li>
            <li>Таргетированная реклама</li>
            <li>Контекстная реклама</li>
            <li>Стратегия продвижения</li>
            <li>Email-маркетинг</li>
            <li>Наполнение сайта</li>
          </ul>
          <img
            class="carousel-slide__icon carousel-slide__icon--sm"
            src="/src/svg/arrow.svg"
            alt="icon"
          />
        </div>

        <div class="carousel-slide carousel-slide--disable">
          <ul class="slide-list slide-list--bg-circle shadow">
            <li>
              <p class="slide-list__title">Исследования и аналитика</p>
            </li>
            <li>Web-аналитика</li>
            <li>Usability-тестирование</li>
            <li>Аудит и проектирование</li>
            <li>Сквозная аналитика</li>
          </ul>
        </div>
      </carousel>
    </div>

    <div class="section section--padding" id="clients">
      <div class="cases">
        <div class="section-header">
          <div class="section-header__text">БВБ-Альянс</div>
          <a href="https://bvb-alyans.ru" target="_blank" class="section-header__link">bvb-alyans.ru</a>
        </div>

        <div class="section-list">
          <li>Разработали маркетинговую стратегию продвижения</li>
          <li>Разработали современный сайт, с учетом матричной стуктуры</li>
          <li>Настроили SEO</li>
          <li>Осущесвили ряд контекстных рекламных компаний</li>
        </div>

        <div class="section-statistic">
          <div class="section-statistic__item section-statistic__item--gap">
            <div class="section-statistic__number">+131 500</div>
            <div
              class="section-statistic__text"
            >Новых пользователей сайта за месяц, начальная цифра &mdash; 3450</div>
          </div>

          <div class="section-statistic__item section-statistic__item--gap">
            <div class="section-statistic__number">+513 000</div>
            <div class="section-statistic__text">
              Страниц, проидексированных
              <br />в Google
            </div>
          </div>

          <div class="section-statistic__item">
            <div class="section-statistic__number">235%</div>
            <div class="section-statistic__text">Составил рост продаж с сайта</div>
          </div>

          <div class="section-statistic__item">
            <div class="section-statistic__number">38,9%</div>
            <div
              class="section-statistic__text"
            >Процент траффика, приходящего из органической выдачи</div>
          </div>
        </div>

        <div class="cards-bg">
          <img class="cards-bg__img" src="/src/img/case1.png" alt="partner" />
          <img class="cards-bg__img cards-bg__img--case-2" src="/src/img/case2.png" alt="partner" />
          <img class="cards-bg__img cards-bg__img--case-3" src="/src/img/case3.png" alt="partner" />
        </div>
      </div>
    </div>

    <div class="section section--padding">
      <div class="cases cases--right">
        <div class="section-header">
          <div class="section-header__text">Анэп-металл</div>
          <a href="https://anepmetall.ru" target="_blank" class="section-header__link">anepmetall.ru</a>
        </div>

        <div class="section-list">
          <li>Провели анализ рынка, выяснили целевую аудиторию</li>
          <li>Разработали прототип и дизайн сайта</li>
          <li>Разработали маркетинговую стратегию продвижения</li>
          <li>Провели SEO-оптимизацию</li>
        </div>

        <div class="section-statistic">
          <div class="section-statistic__item section-statistic__item--gap">
            <div class="section-statistic__number">6</div>
            <div class="section-statistic__text">Месяцев до момента возврата инвестиций</div>
          </div>

          <div class="section-statistic__item section-statistic__item--gap">
            <div class="section-statistic__number">10%</div>
            <div class="section-statistic__text">
              Конверсии в покупку,
              <br />в ходе рекламной кампании
            </div>
          </div>

          <div class="section-statistic__item">
            <div class="section-statistic__number">200 000</div>
            <div class="section-statistic__text">Выделенный рекламный бюджет</div>
          </div>

          <div class="section-statistic__item">
            <div class="section-statistic__number">150%</div>
            <div
              class="section-statistic__text"
              id="about-us"
            >Составил рост продаж по итогам года работы решения</div>
          </div>
        </div>

        <div class="cards-bg cards-bg--left">
          <img class="cards-bg__img" src="/src/img/case4.png" alt="partner" />
          <img class="cards-bg__img cards-bg__img--case-2" src="/src/img/case5.png" alt="partner" />
          <img class="cards-bg__img cards-bg__img--case-3" src="/src/img/case6.png" alt="partner" />
        </div>
      </div>
    </div>

    <div class="section">
      <div class="section__title">Как мы это делаем?</div>
      <logic-step></logic-step>
      <div id="contacts"></div>
    </div>

    <div class="section">
      <transition name="fade">
        <div v-if="!hide" class="form-wrapper">
          <div class="section__title">Свяжитесь с нами</div>
          <div class="section__form">
            <feedback-form @sendedForm="hideForm"></feedback-form>
          </div>
        </div>
      </transition>

      <transition name="fade">
        <div v-if="hide" class="agreement-form">
          <div class="agreement-form__content">
            <img class="agreement-form__icon" src="/src/svg/check-circle.svg" alt="icon" />

            <div class="agreement-form__title">Спасибо!</div>
            <p class="agreement-form__text">Мы свяжемся с вами, как только сможем</p>
          </div>
        </div>
      </transition>
    </div>

    <div class="wrapper wrapper--shadow">
      <div class="section">
        <div class="section__title contacts__title">Контакты</div>
        <div class="section__contacts">
          <img class="contacts__icon contacts__icon--left" src="/src/svg/triangle.svg" alt="icon" />
          <img src="/src/svg/cube.svg" alt="icon" class="contacts__icon contacts__icon--right" />

          <div class="contacts__info">
            <p class="contacts__text contacts__text--sm">г. Екатеринбург, Пропект Ленина, 8, 4 этаж</p>
            <p class="contacts__text contacts__text--sm">ООО “Бюро эффективных решений РОИ”</p>
          </div>

          <div class="contacts__item">
            <p class="contacts__text contacts__text--lg">+7 (343) 226-43-69</p>
            <p class="contacts__text">Позвоните нам</p>
          </div>

          <div class="contacts__item">
            <p class="contacts__text contacts__text--lg">new@roiburo.ru</p>
            <p class="contacts__text">Напишите нам</p>
            <img src="/src/svg/cube-two.svg" alt="icon" class="contacts__icon contacts__icon--lg" />
          </div>

          <div class="contacts__item">
            <p class="contacts__text contacts__text--lg">partners@roiburo.ru</p>
            <p class="contacts__text">
              Для потенциальных партнеров
              <br />и подрядчиков
            </p>
          </div>

          <div class="contacts__item">
            <p class="contacts__text contacts__text--lg">pr@roiburo.ru</p>
            <p class="contacts__text">Для того чтобы связаться с нашей PR-службой</p>
          </div>

          <div class="contacts__item">
            <p class="contacts__text contacts__text--lg">hr@roiburo.ru</p>
            <p class="contacts__text">По вопросам трудоустройства</p>
          </div>

          <div class="contacts__item">
            <p class="contacts__text contacts__text--lg">info@roiburo.ru</p>
            <p class="contacts__text">По общим вопросам вы можете написать сюда</p>
            <img src="/src/svg/vawes-lg.svg" alt="icon" class="contacts__icon" />
          </div>
        </div>
      </div>
    </div>

    <div class="yandex-map">
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac751ac5a59802cd401a74a79f2b5d15707d6729c10d97595be531bac00afcd2a&amp;source=constructor"
        width="100%"
        height="100%"
        frameborder="0"
      ></iframe>
    </div>
  </div>
</template>
<script>
import Carousel from "./carousel";
import LogicStep from "./logic-step";
import FeedbackForm from "./forms/feedback-form";
import { log } from "util";

export default {
  name: "buro",
  components: { Carousel, LogicStep, FeedbackForm },
  data() {
    return {
      hide: false
    };
  },
  mounted() {
    this.showSlider();
  },
  methods: {
    showSlider() {
      let slides = document.querySelectorAll(".carousel-slide");
      this.seprateAnimate(slides, 1800, 400, "carousel-slide--disable");
    },

    hideForm(hide) {
      this.hide = hide;
    },

    seprateAnimate(arr, timer, step, removeClass) {
      for (let i = 0; i <= arr.length - 1; i++) {
        setTimeout(function() {
          arr[i].classList.remove(removeClass);
        }, timer);
        timer += i + 1 * step;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.wrapper {
  width: 100%;

  &--shadow {
    box-shadow: none;
  }
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 18px 50px;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__title {
    margin: 0 auto 30px 0;
    max-width: 210px;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #363636;
  }

  &__carousel {
    display: flex;
    margin-top: -257px;
    margin-bottom: 50px;
    width: 100%;

    &-slide {
      display: flex;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 3px 0 8px;
  width: 100%;

  &__text {
    padding-right: 5px;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #363636;
  }

  &__link {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    color: #f28d01;
  }
}

.carousel-slide {
  display: flex;
  justify-content: center;

  &__icon {
    display: none;
  }
}

.slide-list {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: 52px;
  padding: 27px 17px 40px 27px;
  background: white;
  width: 300px;
  height: 446px;

  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 130px;
    height: 130px;
  }

  &--bg-cube {
    &:after {
      background: url(/src/svg/cube.svg) center no-repeat;
      background-position: 24px 31px;
      background-size: contain;
    }
  }

  &--bg-vawes {
    &:after {
      width: 90px;
      height: 90px;
      background: url(/src/svg/vawe-ex.svg) center no-repeat;
      background-position: 28px 0px;
      background-size: contain;
    }
  }

  &--bg-circle {
    &:after {
      width: 90px;
      height: 90px;
      background: url(/src/svg/circle-ex.svg) center no-repeat;
      background-position: 28px 28px;
      background-size: contain;
    }
  }

  &__title {
    margin-bottom: 36px;
    max-width: 220px;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #363636;
  }

  li {
    position: relative;
    margin: 0 0 21px 30px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #363636;

    &:before {
      content: "";
      position: absolute;
      left: -28px;
      top: 5px;
      width: 10px;
      height: 10px;
      background: #363636;
    }

    &:first-child {
      margin: 0;

      &:before {
        content: none;
      }
    }
  }
}

.shadow {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.section-list {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 35px;

  li {
    position: relative;
    margin-bottom: 25px;
    list-style: none;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #363636;

    &:before {
      content: "";
      position: absolute;
      left: -26px;
      top: 4px;
      width: 15px;
      height: 15px;
      background: linear-gradient(233.98deg, #f5d112 0%, #e6641c 87.47%);
      border-radius: 50%;
    }

    &:after {
      content: "";
      position: absolute;
      left: -23px;
      top: 7px;
      width: 9px;
      height: 9px;
      background: white;
      border-radius: 50%;
    }
  }
}

.cards-bg {
  display: none;
}

.cases {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.section-statistic {
  display: flex;
  flex-wrap: wrap;
  margin-left: 7px;

  &__item {
    display: flex;
    flex-direction: column;
    width: 45%;

    &--gap {
      margin-bottom: 40px;
    }

    &:nth-child(odd) {
      margin-right: 20px;
    }
  }

  &__number {
    margin-bottom: 20px;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: #363636;
  }

  &__text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #363636;
  }
}

.agreement-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 348px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    width: 100%;
  }

  &__title {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 28px;
    line-height: 39px;
    letter-spacing: 0.05em;
    color: #000000;
  }

  &__text {
    margin-top: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #717171;
  }

  &__icon {
    width: 80px;
    margin-bottom: 19px;
  }
}

.contacts {
  &__title {
    margin-bottom: 10px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }

  &__text {
    margin: 0 auto 8px 0;
    width: 304px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #363636;

    &--sm {
      width: 300px;
      line-height: 18px;
    }

    &--lg {
      font-weight: 800;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__icon {
    position: absolute;
    width: 103px;
    height: 103px;
    right: -34px;
    top: 21px;

    &--lg {
      top: -23px;
      width: 140px;
      height: 140px;
    }

    &--left,
    &--right {
      display: none;
    }
  }
}

.yandex-map {
  width: 100%;
  max-width: 800px;
  height: 250px;
}

@media (min-width: 600px) {
  .section__title {
    max-width: 400px;
  }

  .section-header {
    max-width: 500px;
  }

  .section-statistic {
    display: flex;
    flex-wrap: wrap;
    width: 76%;
  }

  .cases {
    width: 440px;
    margin-right: auto;
  }

  .section-list {
    margin: 0 0 30px 113px;
    width: 100%;

    li {
      width: 400px;
    }
  }

  .agreement-form {
    height: 500px;
  }
}

@media (min-width: 750px) {
  .wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;

    &--shadow {
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    }
  }

  .section {
    padding: 0 40px 50px;

    &__contacts {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__form {
      padding: 0 4px 35px;
    }

    &--shadow {
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
    }
  }

  .section-header {
    max-width: 350px;
  }

  .section-list {
    margin: 0 0 30px 34px;
    width: 100%;

    li {
      width: 614px;
    }
  }

  .cases {
    align-items: flex-start;
    width: 100%;
  }

  .contacts {
    &__info {
      width: 100%;
    }

    &__item {
      width: 328px;
    }

    &__icon {
      display: none;
    }
  }

  .yandex-map {
    max-width: 100%;
  }
}

@media (min-width: 900px) {
  .section__form {
    margin-right: auto;
    margin-bottom: 120px;
  }

  .contacts {
    &__icon {
      display: block;
      width: 89px;
      height: 60px;
      right: 346px;
      top: -237px;

      &--left {
        display: block;
        width: 143px;
        left: 41%;
        top: -137px;
        height: 77px;
        object-fit: cover;
        object-position: -1px 4px;
      }

      &--right {
        display: block;
        width: 149px;
        height: 149px;
        right: 121px;
        top: -101px;
      }
    }

    &__icon--lg {
      display: none;
    }
  }

  .agreement-form {
    height: 500px;

    &__content {
      margin-bottom: 200px;
      max-width: 309px;
    }

    &__icon {
      width: 160px;
      margin-bottom: 43px;
    }

    &__title {
      font-size: 32px;
    }

    &__text {
      margin-top: 26px;
      font-size: 22px;
    }
  }
}

@media (min-width: 1000px) {
  .section {
    max-width: 1200px;

    &__title {
      max-width: 630px;
      font-size: 48px;
      margin-bottom: 60px;
    }

    &__carousel {
      opacity: 1;
      max-width: 1000px;
      transition: 1s ease;
    }   
  }

  .section-header {
    margin-bottom: 47px;
    max-width: 431px;

    &__text {
      font-size: 32px;
    }

    &__link {
      font-size: 18px;
      width: 150px;
    }
  }

  .carousel-slide {
    position: relative;
    opacity: 1;
    transition: 0.4s ease;

    &--disable {
      opacity: 0;
      transform: translateX(40%);
    }

    &__icon {
      position: absolute;
      display: block;
      bottom: -40px;
      left: 150px;
      width: 76px;
      height: 80px;

      &--sm {
        top: 50%;
        left: 278px;
        width: 38px;
        height: 39px;
      }
    }
  }

  .slide-list {
    &:hover {
      transform: scale(1.01);
      transition: all 1s linear;
    }

    &--bg-cube,
    &--bg-vawes {
      &:after {
        content: none;
      }
    }

    &--bg-circle {
      &:after {
        width: 140px;
        height: 140px;
        background-position: 39px 68px;
      }
    }
  }

  .section-list {
    width: 350px;

    li {
      width: 340px;
      font-size: 18px;
      line-height: 27px;

      margin-bottom: 26px;
    }
  }

  .cases {
    width: 100%;
    max-width: 624px;

    &--right {
      padding-left: 66px;
      margin: 0 0 0 auto;
    }
  }

  .section-statistic {
    position: relative;
    padding-left: 30px;
    width: 611px;

    &__item:nth-child(odd) {
      max-width: 228px;
      margin-right: 70px;
    }

    &__number {
      font-size: 48px;
    }

    &__text {
      font-size: 18px;
      line-height: 27px;
    }
  }

  .cards-bg {
    position: absolute;
    display: block;
    right: 64px;
    top: 47px;
    width: 464px;
    z-index: 1;

    &--left {
      left: 45px;
      top: 59px;
    }

    &__img {
      position: absolute;
      width: 300px;
      object-fit: contain;
      z-index: 15;
      left: 0;
      border-radius: 4px;
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);

      &--case-2 {
        left: 50px;
        top: 51px;
        z-index: 5;
      }

      &--case-3 {
        z-index: 10;
        left: 128px;
        top: 36px;
      }
    }
  }

  .contacts {
    &__info {
      margin-bottom: 40px;
      margin-top: -33px;
    }

    &__text {
      width: 300px;

      &--sm {
        width: 500px;
      }
    }

    &__item {
      width: 282px;
    }
  }

  .yandex-map {
    height: 362px;
  }
}

@media (min-width: 1200px) {
  .section {
    &__title {
      margin-bottom: 80px;
    }
  }

  .cards-bg {
    width: 100%;
    max-width: 37%;
    left: 48%;

    &--left {
      left: -4px;
      max-width: 400px;
    }

    &__img {
      width: 100%;
      max-width: 500px;
      object-fit: contain;
    }
  }
  .cases--right {
    padding: 0;
  }

  .form-wrapper {
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
  }
}
</style>