<template>
  <div
    ref="carousel"
    v-touch:swipe.left="nextSlide"
    v-touch:swipe.right="prevSlide"
    class="carousel"
  >
    <div ref="slider" class="slider">
      <slot />
    </div>
    <div ref="dots" class="dots">
      <div class="dots__item dots__item--active"></div>
      <div class="dots__item"></div>
      <div class="dots__item"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "carousel",
  data() {
    return {
      slidePosition: 0,
      slideIndex: 0
    };
  },
  mounted() {
    this.uploadPosition();
  },

  methods: {
    uploadPosition() {
      let viewPort = this.$refs.carousel.offsetWidth;
      let slider = this.$refs.slider;
      let mobile = window.matchMedia("(max-width: 1000px)");

      if (mobile.matches) {
        let slides = slider.children;
        for (let el of slides) {
          el.style.width = `${viewPort}px`;
        }
      }
    },

    nextSlide() {
      let viewPort = this.$refs.carousel.offsetWidth;
      let slider = this.$refs.slider;
      let dots = this.$refs.dots.children;
      let mobile = window.matchMedia("(max-width: 1000px)");

      if (this.slideIndex >= slider.children.length - 1) {
        return;
      }

      this.slideIndex++;
      dots[this.slideIndex].classList.add("dots__item--active");

      if (mobile.matches) {
        this.slidePosition -= viewPort;
      }

      slider.style.transform = `translate(${this.slidePosition}px)`;
    },

    prevSlide() {
      let viewPort = this.$refs.carousel.offsetWidth;
      let slider = this.$refs.slider;
      let dots = this.$refs.dots.children;
      let mobile = window.matchMedia("(max-width: 1000px)");

      if (this.slideIndex === 0) {
        return;
      }

      dots[this.slideIndex].classList.remove("dots__item--active");
      this.slideIndex--;

      if (mobile.matches) {
        this.slidePosition += viewPort;
      }

      slider.style.transform = `translate(${this.slidePosition}px)`;
    }
  }
};
</script>

<style lang="scss" scoped="">
.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 40px;
  overflow-x: hidden;
  transition: 1s ease;
}

.slider {
  display: flex;
  align-items: center;
  transition: 0.5s ease;
  width: 3000px;
}

.dots {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  top: 21px;
  transform: translateX(-50%);
  width: 54px;

  &__item {
    width: 7px;
    height: 7px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    transition: 0.2s ease;

    &--active {
      width: 9px;
      height: 9px;
      background: #ffffff;
    }
  }
}

@media (min-width: 1000px) {
  .slider {
    width: 100%;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 10px;
  }

  .carousel {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .dots {
    display: none;
  }
}
</style>