<template>
  <div class="logic-step__wrapper">
    <div class="step-progress">

      <div v-for="(step, index) in steps" :key="index" class="step-progress__item">
        <div
          @click="selectStep(index)"
          v-observe-visibility="changeStep"
          :class="{'step-progress__check--active': index <= progressPosition, 'step-progress__check--active-ln': index < progressPosition}"
          class="step-progress__check"
        >
        <div class="step-progress__check-inside"></div>
        </div>
        <div class="step-progress__text">{{step.name}}</div>
      </div>      
    </div>

    <div class="step-processes__wrapper">
      <div ref="step-processes" class="step-processes">
        <div ref="processes-items" class="step-processes__items step-processes__items--active">
          <div class="step-processes__item">
            <img src="/src/svg/analyse-market.svg" alt="icon" class="step-processes__icon" />
            <div class="step-processes__text">Анализ рынка</div>
          </div>

          <div class="step-processes__item">
            <img src="/src/svg/web-audit.svg" class="step-processes__icon" />
            <div class="step-processes__text">Аудит сайта</div>
          </div>

          <div class="step-processes__item">
            <img src="/src/svg/search-ca.svg" class="step-processes__icon" />
            <div class="step-processes__text">Исследование ЦА</div>
          </div>
        </div>

        <div class="step-processes__items step-processes__items--gap-mb">
          <div class="step-processes__item">
            <img src="/src/svg/calendar.svg" class="step-processes__icon" />
            <div class="step-processes__text">
              Планирование сроков
              <br />и трат ресурсов
            </div>
          </div>

          <div class="step-processes__item">
            <img src="/src/svg/pen-ruller.svg" class="step-processes__icon" />
            <div class="step-processes__text">
              Проектирование
              <br />интерфейсов
            </div>
          </div>

          <div class="step-processes__item">
            <img src="/src/svg/speedometr.svg" class="step-processes__icon" />
            <div class="step-processes__text">
              Оптимизация
              <br />бизнес-процессов
            </div>
          </div>
        </div>

        <div class="step-processes__items step-processes__items--gap-mb">
          <div class="step-processes__item">
            <img src="/src/svg/chip.svg" class="step-processes__icon" />
            <div class="step-processes__text">
              Внедрение
              <br />современных технологий
            </div>
          </div>

          <div class="step-processes__item">
            <img src="/src/svg/search-gear.svg" class="step-processes__icon" />
            <div class="step-processes__text">Тестирование системы</div>
          </div>
        </div>

        <div class="step-processes__items">
          <div class="step-processes__item">
            <img src="/src/svg/inner-gear.svg" class="step-processes__icon" />
            <div class="step-processes__text">Внердрение CMS, CRM</div>
          </div>

          <div class="step-processes__item">
            <img src="/src/svg/rocket.svg" class="step-processes__icon" />
            <div class="step-processes__text">Публикация системы</div>
          </div>
        </div>

        <div class="step-processes__items">
          <div class="step-processes__item">
            <img src="/src/svg/comment.svg" class="step-processes__icon" />
            <div class="step-processes__text">
              Планирование сроков
              <br />и трат ресурсов
            </div>
          </div>

          <div class="step-processes__item">
            <img src="/src/svg/scheme.svg" class="step-processes__icon" />
            <div class="step-processes__text">
              Проектирование
              <br />интерфейсов
            </div>
          </div>

          <div class="step-processes__item">
            <img src="/src/svg/file.svg" class="step-processes__icon" />
            <div class="step-processes__text">
              Оптимизация
              <br />бизнес-процессов
            </div>
          </div>
        </div>
      </div>

      <div class="step-processes__controls">
        <div
          class="step-processes__control"
          :class="{'step-processes__control--disable' : this.progressPosition === 0 }"
          @click="prevItem"
        >
          <img src="/src/svg/arr-left.svg" alt="arrow" />
        </div>

        <div
          class="step-processes__control"
          :class="{'step-processes__control--disable' : this.progressPosition === 4 }"
          @click="nextItem"
        >
          <img src="/src/svg/arr-right.svg" alt="arrow" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "logic-step",
  data() {
    return {
      progressPosition: 0,
      slidePosition: 0,
      steps: [
        { name: "Аналитика", selected: true },
        { name: "Планирование проектирование", selected: false },
        { name: "Разработка", selected: false },
        { name: "Запуск системы", selected: false },
        { name: "Проведение рекламной кампании", selected: false }
      ]
    };
  },
  methods: {
    nextItem() {
      let totalLength =
        document.querySelectorAll(".step-processes__items").length - 1;
      let slider = this.$refs["step-processes"];
      let sliders = document.querySelectorAll(".step-processes__items");
      let lengthSlide = this.$refs["processes-items"].offsetWidth;
      let progresses = document.querySelectorAll(".step-progress__check");

      if (this.slidePosition === -totalLength * lengthSlide) {
        return;
      }

      progresses[this.progressPosition].classList.add(
        "step-progress__check--active-ln"
      );
      this.progressPosition++;
      progresses[this.progressPosition].classList.add(
        "step-progress__check--active"
      );
      sliders[this.progressPosition].classList.add(
        "step-processes__items--active"
      );
      this.slidePosition -= lengthSlide;
      slider.style.transform = `translate(${this.slidePosition}px)`;
    },

    changeStep(isVisible, entryObj) {
      let stepLine = entryObj.target.offsetParent;

      let mobile = window.matchMedia("(max-width: 900px)");

      if (isVisible && mobile.matches) {
        entryObj.target.classList.add("step-progress__check--active");
        stepLine.classList.add("step-progress__item--active");
      }
    },

    selectStep(index) {
      let mobile = window.matchMedia("(max-width: 900px)");

      if (mobile.matches) {
        return;
      }

      let progresses = document.querySelectorAll(".step-progress__check");
      let slider = this.$refs["step-processes"];
      let lengthSlide = this.$refs["processes-items"].offsetWidth;
      let count = 0;

      if (index === 0 && this.slidePosition !== 0) {
      this.progressPosition = 0;
      this.slidePosition = 0;
      }

      if (index > this.progressPosition) {
        this.slidePosition = -lengthSlide * index;
        this.progressPosition = index;
      }

      if (index < this.progressPosition) {
        this.slidePosition = -lengthSlide * index;
        this.progressPosition = index;
      }

      slider.style.transform = `translate(${this.slidePosition}px)`;
    },

    prevItem() {
      let progresses = document.querySelectorAll(".step-progress__check");
      let lengthSlide = this.$refs["processes-items"].offsetWidth;
      let sliders = document.querySelectorAll(".step-processes__items");
      let slider = this.$refs["step-processes"];

      if (this.slidePosition === 0) {
        return;
      }

      sliders[this.progressPosition].classList.remove(
        "step-processes__items--active"
      );

      progresses[this.progressPosition].classList.remove(
        "step-progress__check--active"
      );
      this.progressPosition--;
      progresses[this.progressPosition].classList.remove(
        "step-progress__check--active-ln"
      );
      this.slidePosition += lengthSlide;
      slider.style.transform = `translate(${this.slidePosition}px)`;
    }
  }
};
</script>

<style lang="scss" scoped>
.logic-step {
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1230px;
      padding: 0 10px 178px 0;
  }
}

.step-progress {
  display: flex;
  width: 100%;
  margin-bottom: 120px;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 24%;

    &--lg {
      width: 22%;
    }

    &:last-child {
      .step-progress__check:after {
        content: none;
      }
    }
  }

  &__check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 46px;
    height: 44px;
    border-radius: 50%;
    background:#EAEAEA;
    cursor: pointer;

    &-inside {
         width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 18px;
      left: 9px;
      width: 100%;
      height: 8px;
      background: #eaeaea;
      border-radius: 2px;
      z-index: -1;
    }

    &--active {
      background: linear-gradient(180deg, #5AAAF5 0%, #3486D6 100%);
      transition: all 2.5s cubic-bezier(0, 1.13, 0.96, 0.97);
    }

    &--active-ln {
      &:after {
        background: linear-gradient(180deg, #5AAAF5 0%, #3486D6 100%);;
        transition: background-color 2s cubic-bezier(0, 1.13, 0.96, 0.97);
      }
    }
  }

  &__text {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #363636;

    &--lg {
      width: 232px;
    }
  }
}

.step-processes {
  display: flex;
  transition: 1s ease;
  width: 2000px;
  justify-content: space-between;

  &__wrapper {
    position: relative;
    width: 92%;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  &__items {
    display: flex;
    flex-shrink: 0;
    width: 1065px;
    transition: opacity 0.3s linear;
    opacity: 1;

    &--active {
      transition: opacity 0.7s cubic-bezier(0.94, 0.32, 1, 0.95);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
  }

  &__icon {
    margin-bottom: 35px;
    width: 81px;
    height: 69px;
  }

  &__text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
  }

  &__controls {
    position: absolute;
    height: 100%;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 170px;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    padding-left: 0;
    z-index: 10;
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    height: 75px;
    width: 44%;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(30, 139, 243, 0.2);
    background: linear-gradient(180deg, #5aaaf5 0%, #3486d6 100%);
    cursor: pointer;
    transition: all 0.2s linear;

    &--disable {
      box-shadow: none;
      background: #f8f8f8;
    }
  }
}

@media (max-width: 1400px) {
  .step-progress {
    &:last-child {
      .step-progress__check:before {
        left: -126px;
      }
    }

    &__text {
      font-weight: 700;
      font-size: 16px;
    }
  }

  .step-processes {
    &__wrapper {
      width: 96%;
    }

    &__icon {
      margin-bottom: 20px;
      height: 50px;
    }

    &__text {
      font-size: 15px;
    }
  }
}

@media (max-width: 1200px) {
  .step-progress {
    &__item {
    }

    &__text {
      font-size: 14px;
      padding-right: 8px;
    }

    &__check {
      width: 29px;
      height: 29px;

      &:after {
        top: 11px;
      }

      &-inside {
            width: 19px;
    height: 19px;


      }
    }
  }

  .step-processes {
    &__item {
      margin-right: 20px;
      max-width: 147px;

      &--lg {
        width: 238px;
      }
    }

    &__text {
      font-size: 14px;
    }

    &__controls {
      width: 130px;
    }
  }
}

@media (max-width: 900px) {
  .logic-step {
    &__wrapper {
      position: relative;
      padding: 0 10px 118px 0;
    }
  }

  .step-progress {
    justify-content: space-between;
    flex-direction: column;
    height: 1000px;

    &__text {
      line-height: 23px;
    }

    &__item,
    &__item--lg {
      position: relative;
      align-items: center;
      flex-direction: row;
      height: 40px;
      width: 100%;

      &:after {
        position: absolute;
        content: "";
        width: 235px;
        height: 4px;
        top: -102px;
        left: -104px;
        background: #eaeaea;
        transform: rotate(90deg);
        z-index: -1;
      }

      &:first-child {
        &:after {
          content: none;
        }
      }

      &--active {
        &:after {
          background: linear-gradient(180deg, #5AAAF5 0%, #3486D6 100%);
        }
      }
    }

    &__check {
      margin: auto 20px auto 5px;
      width: 17px;
      height: 17px;
      border-width: 4px;

      &:after {
        content: none;
      }

      &-inside {
            width: 11px;
    height: 11px;
      }
    }

    &__text {
      max-width: 200px;
    }
  }

  .step-processes {
    flex-direction: column;

    &__wrapper {
      position: absolute;
      top: 56px;
      left: 49px;
    }

    &__items {
      flex-wrap: wrap;
      width: 100%;
      max-width: 800px;
      height: 150px;

      opacity: 1;
      margin-bottom: 100px;

      &--gap-mb {
        margin-bottom: 87px;
      }
    }

    &__item {
      flex-direction: row;
      align-items: center;
      margin-top: 0;
      width: 100%;
      max-width: 200px;
    }

    br {
      display: none;
    }

    &__text {
      line-height: 23px;
    }

    &__icon {
      margin: 0 10px 0 0;
      width: auto;
      min-width: 51px;
      height: 31px;
    }

    &__controls {
      display: none;
    }
  }
}

@media (max-width: 768px) {
.logic-step__wrapper {
      padding: 0 10px 138px 0;

}

  .step-processes {
    &__items {
      width: 100%;
      max-width: 500px;
    }

    &__item {
      max-width: 400px;
    }
  }
}

@media (max-width: 576px) {
  .step-processes {
    &__items {
      width: 238px;
    }

    &__item {
      margin-bottom: 10px;
    }
  }
}
</style>
