<template>
  <div class="section">
    <div class="header-nav" :class="{'popup-menu': showHeader}">
      <img src="/src/svg/header/head.svg" class="header-nav__logo" />

      <div class="header-nav__list">
        <a href="#services" class="header-nav__item">услуги</a>
        <a href="#clients" class="header-nav__item">клиенты</a>
        <a href="#about-us" class="header-nav__item">о нас</a>
        <a href="#contacts" class="header-nav__item">контакты</a>
      </div>

      <img @click="openMenu" src="/src/svg/header/menu.svg" class="header-nav__menu" />

      <sidebar @closed="closeMenu" :show="showMenu"></sidebar>
    </div>

    <div class="section-content">
      <h1
        class="section-content__title section-content--disable"
      >Полное сопровождение от идеи до продаж</h1>
      <p
        id="services"
        class="section-content__text section-content--disable"
      >Осуществляем полный комплекс услуг, от разработки до маркетинга</p>
    </div>
  </div>
</template>

<script>
import Sidebar from "./sidebar.vue";
import { Transform } from "stream";

export default {
  name: "main-header",
  components: { Sidebar },
  data() {
    return {
      showMenu: false,
      showHeader: false
    };
  },
  mounted() {
    this.showTitle();
  },
  created() {
    window.addEventListener("scroll", this.popup);
    window.addEventListener("touch-start", this.popup, false);
  },
  destroyed() {
    window.removeEventListener("scroll", this.popup);
  },
  methods: {
    popup(event) {
      var path = event.path || (event.composedPath && event.composedPath());
      let position = path[1].pageYOffset;

      this.showHeader = false;

      if (position > 200) {
        this.showHeader = true;
      }
    },

    openMenu() {
      this.showMenu = true;
    },

    closeMenu() {
      this.showMenu = false;
    },

    showTitle() {
      let contentTitle = document.querySelector(".section-content").children;
      this.seprateAnimate(contentTitle, 800, 400, "section-content--disable");
    },

    seprateAnimate(arr, timer, step, removeClass) {
      for (let i = 0; i <= arr.length - 1; i++) {
        setTimeout(function() {
          arr[i].classList.remove(removeClass);
        }, timer);
        timer += i + 1 * step;
      }
    },

    fixMenu() {}
  }
};
</script>

<style lang="scss" scoped="">
.section {
  padding: 29px 37px 210px;
  height: 641px;
  width: 100%;
  background: url("/src/img/office.png") center no-repeat;
  background-size: cover;
}

.section-content {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 40px;
    width: 300px;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.05em;
    line-height: 29px;
    color: #ffffff;
  }

  &__text {
    margin-right: auto;
    width: 277px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 24px;
    color: #ffffff;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;

  &__logo {
    width: 84px;
  }

  &__menu {
    width: 20px;
  }

  &__list {
    display: none;
  }
}

.popup-menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  top: 0;
  left: 0;
  height: 85px;
  width: 100%;
  background: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  z-index: 800;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  .header-nav {
    padding: 0 32px;
    &__logo {
      filter: invert(1);
    }

    &__item {
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.05em;
      color: #272a2e;
    }

    &__menu {
      -webkit-filter: invert(1);
      filter: invert(1);
    }
  }
}

@media (min-width: 800px) {
  .section {
    width: 100%;
    background: url("/src/img/header/office-full.png") center no-repeat;
    background-size: cover;
  }

  .section-content {
    &__title {
      margin-bottom: 25px;
      width: 440px;
      font-size: 36px;
      line-height: 48px;
    }

    &__text {
      width: 460px;
      font-size: 18px;
      font-size: 18px;
      line-height: 28px;
    }
  }

  .header-nav {
    padding: 0;

    &__menu {
      display: none;
    }

    &__item {
      padding-right: 5px;
      font-family: Montserrat;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.05em;
      text-decoration: none;
      text-transform: uppercase;
      color: #ffffff;

      &:active,
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 45%;
    }
  }

  .popup-menu {
    padding: 0 32px;
  }
}

@media (min-width: 1000px) {
  .section {
    padding: 64px 8% 40px;
    height: 808px;
  }

  .header-nav {
    margin-bottom: 119px;
  }

  .popup-menu {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9%;
    top: 0;
    left: 0;
    height: 85px;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    z-index: 800;
    animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;

    .header-nav__logo {
      filter: invert(1);
    }

    .header-nav__item {
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.05em;
      color: #272a2e;
    }
  }

  .section-content {
    &__title,
    &__text {
      transition: 0.5s ease;
      opacity: 1;
    }

    &__title {
      width: 450px;
      margin-left: 90px;
    }

    &__text {
      width: 500px;
      margin-left: 90px;
    }

    &--disable {
      transform: translateX(30%);
      opacity: 0;
    }
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(100%);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
</style>

