<template>
    <footer class="footer">
      <div class="footer__text">
        Разработка сайта -
        <span class="footer__text footer__text--lg">ROI Buro</span>
      </div>
    </footer>
</template>

<script>

export default {
  name: 'main-footer',
};
</script>

<style lang="scss" scoped="">
.footer {
  display: flex;
  justify-content: center;
  padding: 20px;

  &__text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #a3a3a3;

    &--lg {
      color: #808080;
      font-size: 20px;
    }
  }
}

@media (min-width: 400px) {
.footer__text {
  font-size: 18px;
}
}

@media (min-width: 1000px) {
     .footer {
        position: absolute;
    background: #FFFFFF;
    left: 200px;
    bottom: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
  }
}
</style>