<template>
  <div>
    <div class="pers-inf wrapper">
         <div class="pers-inf__title">Политика в отношении обработки персональных данных</div>
         <div class="line"></div>
         <div class="pers-inf__header">1. Общие положения</div>
         <p class="pers-inf__text">
            Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных»
             и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных ООО “Бюро Эффективных Решений РОИ” (далее – Оператор).
         </p>
         <ol class="pers-inf__list">
            <li class="pers-inf__item">
               Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
            </li>
            <li class="pers-inf__item">
               Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта https://roiburo.ru.при 
               обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
            </li>
         </ol>
         <div class="pers-inf__header">2. Основные понятия, используемые в Политике</div>
         <ol class="pers-inf__list">
            <li class="pers-inf__item">
               Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники;
            </li>
            <li class="pers-inf__item">
               Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);
            </li>
            <li class="pers-inf__item">
               Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу https://roiburo.ru;
            </li>
            <li class="pers-inf__item">
               Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств;
            </li>
            <li class="pers-inf__item">
               Обезличивание персональных данных — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных;
            </li>
            <li class="pers-inf__item">
               Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;
            </li>
            <li class="pers-inf__item">
               Оператор – государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;
            </li>
            <li class="pers-inf__item">
               Персональные данные – любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю веб-сайта https://roiburo.ru;
            </li>
            <li class="pers-inf__item">
               Пользователь – любой посетитель веб-сайта https://roiburo.ru;
            </li>
            <li class="pers-inf__item">
               Предоставление персональных данных – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;
            </li>
            <li class="pers-inf__item">
               Распространение персональных данных – любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;
            </li>
            <li class="pers-inf__item">
               Трансграничная передача персональных данных – передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу;
            </li>
            <li class="pers-inf__item">
               Уничтожение персональных данных – любые действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в информационной системе персональных данных и (или) результате которых уничтожаются материальные носители персональных данных.
            </li>
         </ol>
         <div class="pers-inf__header">3. Оператор может обрабатывать следующие персональные данные Пользователя</div>
         <ol class="pers-inf__list">
            <li class="pers-inf__item">
               Фамилия, имя, отчество;
            </li>
            <li class="pers-inf__item">
               Электронный адрес;
            </li>
            <li class="pers-inf__item">
               Номера телефонов;
            </li>
            <li class="pers-inf__item">
               Фотографии;
            </li>
            <li class="pers-inf__item">
               План дома;
            </li>
            <li class="pers-inf__item">
               Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).
            </li>
            <li class="pers-inf__item">
               Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.
            </li>
         </ol>
         <div class="pers-inf__header">4. Цели обработки персональных данных</div>
         <ol class="pers-inf__list">
            <li class="pers-inf__item">
               Цель обработки персональных данных Пользователя — информирование Пользователя посредством отправки электронных писем; уточнение деталей заказа.
            </li>
            <li class="pers-inf__item">
               Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты tech@roiburo.ru с пометкой «Отказ от уведомлениях о новых продуктах и услугах и специальных предложениях».
            </li>
            <li class="pers-inf__item">
               Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.
            </li>
         </ol>
         <div class="pers-inf__header">5. Правовые основания обработки персональных данных</div>
         <ol class="pers-inf__list">
            <li class="pers-inf__item">
               Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте https://roiburo.ru. Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.
            </li>
            <li class="pers-inf__item">
               Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).
            </li>
         </ol>
         <div class="pers-inf__header">6. Порядок сбора, хранения, передачи и других видов обработки персональных данных</div>
         <p class="pers-inf__text">
            Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.
         </p>
         <ol class="pers-inf__list">
            <li class="pers-inf__item">
               Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.
            </li>
            <li class="pers-inf__item">
               Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства.
            </li>
            <li class="pers-inf__item">
               В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора tech@roiburo.ru с пометкой «Актуализация персональных данных».
            </li>
            <li class="pers-inf__item">
               Срок обработки персональных данных является неограниченным. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора tech@roiburo.ru с пометкой «Отзыв согласия на обработку персональных данных».
            </li>
         </ol>
         <div class="pers-inf__header">7. Трансграничная передача персональных данных</div>
         <ol class="pers-inf__list">
            <li class="pers-inf__item">
               Оператор до начала осуществления трансграничной передачи персональных данных обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов персональных данных.
            </li>
            <li class="pers-inf__item">
               Трансграничная передача персональных данных на территории иностранных государств, не отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу его персональных данных и/или исполнения договора, стороной которого является субъект персональных данных.
            </li>
         </ol>
         <div class="pers-inf__header">8. Заключительные положения</div>
         <ol class="pers-inf__list">
            <li class="pers-inf__item">
              Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты tech@roiburo.ru.
            </li>
            <li class="pers-inf__item">
               В данном документе будут отражены любые изменения политики обработки персональных данных Оператором. Политика действует бессрочно до замены ее новой версией.
            </li>
            <li class="pers-inf__item">
               Актуальная версия Политики в свободном доступе расположена в сети Интернет по адресу https://roiburo.ru/policy
            </li>
         </ol>
      </div>
  </div>
</template>

<script>


export default {
  name: 'personal-policy'
};
</script>

<style lang="scss" scoped="">
.wrapper {
max-width: 1000px;
padding: 30px 10px
}

.pers-inf__title {
      font-family: Montserrat;

    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.pers-inf__header {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
}

.pers-inf .line {
    width: 100%;
    height: 1px;
    margin-bottom: 24px;
    background: #eee;
}

.pers-inf__text {
    margin-bottom: 8px;
line-height: 20px;
    font-size: 16px;
}

.pers-inf__list {
    font-size: 16px;
    color: #5c5c5c;
}

.pers-inf__item {
    margin-bottom: 8px;
    line-height: 18px;
}
</style>