<template>
  <div v-if="show" class="sidebar">
    <div class="sidebar-header">
      <img src="/src/svg/header/head-gray.svg" class="sidebar-header__logo" />
      <img src="/src/svg//close.svg" @click="hideMenu" class="sidebar-header__icon" />
    </div>

    <ul class="sidebar-list">
      <li @click="hideMenu">
        <a href="#services" class="sidebar-list__item">услуги</a>
      </li>
      <li @click="hideMenu">
        <a href="#clients" class="sidebar-list__item">клиенты</a>
      </li>

      <li @click="hideMenu">
        <a href="#about-us" class="sidebar-list__item">о нас</a>
      </li>
      <li @click="hideMenu">
        <a href="#contacts" class="sidebar-list__item">контакты</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "sidebar",
  props: {
    show: false
  },
  methods: {
    hideMenu() {
      this.$emit("closed", false);
    }
  }
};
</script>

<style lang="scss" scoped="">
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  width: 100%;
  height: 100vh;
  background: white;
  left: 0;
  top: 0;
  z-index: 10;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 104px;
  width: 100%;

  &__logo {
    width: 84px;
    height: 43px;
  }

  &__icon {
    width: 24px;
    height: 30px;
  }
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: -44px;
  width: 120px;

  li {
    margin-bottom: 50px;
  }

  &__item {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: start;
    color: #43586d;

    &:active,
    &:hover {
      color: #272a2e;
      padding-bottom: 7px;
      border-bottom: 2px solid #272a2e;
    }
  }
}
</style>