<template>
  <div class="page-wrapper">
    <main-header></main-header>
    <buro lang="vue"></buro>
    <main-footer></main-footer>
    <!-- <personal-policy></personal-policy> -->
  </div>
</template>

<script>
import MainHeader from "./components/main-header.vue";
import Buro from "./components/buro.vue";
import MainFooter from "./components/main-footer.vue";
import PersonalPolicy from "./components/personal-policy";


export default {
  components: {
    MainHeader,
    Buro,
    MainFooter,
    PersonalPolicy
  }
};
</script>

<style lang="scss" scoped="">
.page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
</style>