<template>
  <form method="POST" action="https://roiburo.ru/mail.php" v-if="!sended" class="feedback-form">
    <div class="field__wrapper">
      <div class="field">
        <label for="name" class="field__text">Имя</label>
        <input
          class="field__input"
          v-model="form.name"
          @focus="$v.form.name.$reset"
          @blur="$v.form.name.$touch"
          placeholder="Имя Фамилия"
        />
        <transition name="fade">
          <div v-if="$v.form.name.$error" class="feedback-form__text error">Введите имя</div>
        </transition>
      </div>

      <div class="field field--md">
        <label for="name" class="field__text">Номер телефона (опционально)</label>
        <input
          v-model="form.phone"
          v-mask="'+7 (###) ###-##-##'"
          type="tel"
          @focus="$v.form.phone.$reset"
          @blur="$v.form.phone.$touch"
          placeholder="+7"
          class="field__input"
        />
        <transition name="fade">
          <div v-if="$v.form.phone.$error" class="feedback-form__text error">Введите телефон</div>
        </transition>
      </div>

      <div class="field">
        <label for="name" class="field__text">Электронная почта</label>
        <input
          v-model="form.email"
          type="text"
          @focus="$v.form.email.$reset"
          @blur="$v.form.email.$touch"
          placeholder="email"
          class="field__input"
        />
        <transition name="fade">
          <div v-if="$v.form.email.$error" class="feedback-form__text error">Введите почту</div>
        </transition>
      </div>

      <div class="field field--lg">
        <label for="name" class="field__text">Сообщение</label>
        <input
          class="field__input"
          v-model="form.info"
          placeholder="Сроки запуска, бюджет, ваши пожелания"
        />
      </div>
    </div>

    <div class="feedback-form__items">
      <!-- <div class="feedback-form__item">
        <img src="/src/assets/svg/skrep.svg" class="feedback-form__button" />
        <div class="feedback-form__text">Прикрепить документ</div>
      </div>-->

      <div class="feedback-form__item">
        <div @click="form.agreement = !form.agreement" class="feedback-form__checkbox">
          <transition name="fade">
            <img
              v-if="form.agreement"
              src="/src/svg/check.svg"
              class="feedback-form__checkbox-icon"
            />
          </transition>
        </div>
        <div class="feedback-form__text">
          Принимаю
          <a
            @click="showModal = true"
            class="link"
          >условия пользовательского соглашения и политику конфиденциальности</a>
        </div>
      </div>

      <button @click.prevent="sendData" class="button">Начать проект</button>
    </div>

    <modal v-if="showModal" @close="showModal = false">
      <div class="policy-wrapper">
        <personal-policy></personal-policy>
      </div>
    </modal>
  </form>
</template>

<script>
import {
  required,
  minLength,
  maxLength,
  email
} from "vuelidate/lib/validators";
import axios from "axios";
import Modal from "../modals/modal";
import PersonalPolicy from "../personal-policy";

export default {
  name: "feedback-form",
  components: { Modal, PersonalPolicy },
  data() {
    return {
      form: {
        name: "",
        phone: "",
        email: "",
        info: "",
        agreement: true
      },
      sended: false,
      showModal: false
    };
  },

  methods: {
    sendData() {
      const invalid = this.$v.$invalid;

      if (invalid || !this.form.agreement) {
        this.$v.$touch();
        return;
      }

      const message = {
        from: "roiburo", // Sender address
        name: this.form.name,
        phone: this.form.phone,
        email: this.form.email,
        info: this.form.info || null
      };

      axios.post("https://roiburo.ru/mail.php", JSON.stringify(message));
      this.sended = true;
      this.$emit("sendedForm", this.sended);
    }
  },

  validations: {
    form: {
      name: {
        required,
        maxLength: maxLength(50)
      },
      phone: {
        required,
        minLength: minLength(18),
        maxLength: maxLength(25)
      },
      email: {
        required,
        email,
        maxLength: maxLength(300)
      },
      agreement: required
    }
  }
};
</script>

<style lang="scss" scoped="">
.feedback-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 4px 40px;

  &__items {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__item {
    display: flex;
    margin-bottom: 30px;
  }

  &__button {
    margin-right: 10px;
  }

  &__checkbox {
    position: relative;
    flex-shrink: 0;
    margin: 10px 21px 0 0;
    padding: 3px;
    width: 25px;
    height: 25px;
    border: 1px solid #a1a1a1;

    &-icon {
      position: absolute;
      left: 4px;
      top: -8px;
      width: 32px;
      height: 32px;
    }
  }

  &__text {
    padding-top: 8px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #626262;

    &--sm {
      font-size: 12px;
    }
  }
}

.field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 10px;
  width: 100%;

  &__text {
    display: none;
  }

  &__input {
    margin-bottom: 15px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #a1a1a1;    
    outline: none;

    &::-webkit-input-placeholder {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 14px;
      overflow: visible;

      letter-spacing: 0.05em;
      padding-right: 10px;
      color: #a2a2a2;
    }

    &::-ms-input-placeholder {
      font-family: Montserrat;
      overflow: visible;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.05em;
      color: #a2a2a2;
    }
  }
}



.button {
  padding: 12px 10px;
  width: 100%;
  max-width: 370px;
  margin: 10px auto 0;
  background: linear-gradient(180deg, #5aaaf5 0%, #3486d6 100%);
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: 0.5s ease;
  outline: none;

  &:active,
  &:hover {
    box-shadow: 0px 10px 15px rgba(30, 139, 243, 0.3);
  }
}

.error {
  color: red;
  padding: 0;
}

.link {
  color: #626262;
  text-decoration: underline;
  cursor: pointer;

  &:active,
  &:hover {
    text-decoration: none;
  }
}

.policy-wrapper {
  margin-top: 40px;
  padding-bottom: 280px;
  height: 100vh;

  overflow: scroll;
}

@media (min-width: 600px) {
  .field {
    &__text {
      display: block;
      margin-bottom: 10px;
      font-family: Montserrat;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.05em;
      color: #388ad9;
    }
  }

  .policy-wrapper {
    padding-bottom: 40px;
  }
}

@media (min-width: 750px) {
  .feedback-form__item {
    align-items: center;
  }
}

@media (min-width: 900px) {
  .feedback-form {
    flex-direction: column;
  }

  .field {
    margin-right: 10px;
    width: 27%;



    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__input::-webkit-input-placeholder {
      font-size: 18px;
      margin-bottom: 20px;
      /*padding-bottom: 10px;*/
    }

    &__input::-webkit-input-placeholder {
    -webkit-appearance: none;

    }



    &__input::-ms-input-placeholder {
      font-size: 18px;
    }

    &--md {
      width: 35%;
    }

    &--lg {
      width: 100%;
    }
  }  
}

@media (min-width: 1200px) {
  .field {
    margin-bottom: 40px;
    &__text {
      margin-bottom: 17px;
      font-size: 18px;
    }
  }

  .feedback-form {
    &__text {
      font-size: 18px;
    }

    &__item {
      margin-bottom: 56px;
    }
  }

  .button {
    padding: 26px 10px;
    font-size: 22px;
    margin: 10px auto 0 0;
  }
}
</style>